/* Pour la boîte complète */
.media:first-child{
	margin-top: 0;	
}
.media, .media-body{
		overflow:hidden;
		zoom:1;
}

/* Pour les liens */
.media > .pull-left{
	margin-right: 10px;
}
	.pull-left{
		float: left!important;
	}
	
/* Pour les images */
.media-object{
	display:block;
}
img.team_gala{
	vertical-align: middle;
	border:0;
	width:100%;
}
.span1 {
	height: 90px;
}

	
@media screen and (max-width: 736px){
    .span12 {
        width: 724px;
    }
    .span11 {
        width: 662px;
    }
    .span10 {
        width: 600px;
    }
    .span9 {
        width: 538px;
    }
    .span8 {
        width: 476px;
    }
    .span7 {
        width: 414px;
    }
    .span6 {
        width: 352px;
    }
    .span5 {
        width: 290px;
    }
    .span4 {
        width: 228px;
    }
    .span3 {
        width: 166px;
    }
    .span2 {
        width: 104px;
    }
    .span1 {
        height: 65px;
    }
}
	
@media screen and (max-width: 480px)  {
    .span12 {
        width: 1170px;
    }
    .span11 {
        width: 1070px;
    }
    .span10 {
        width: 970px;
    }
    .span9 {
        width: 870px;
    }
    .span8 {
        width: 770px;
    }
    .span7 {
        width: 670px;
    }
    .span6 {
        width: 570px;
    }
    .span5 {
        width: 470px;
    }
    .span4 {
        width: 370px;
    }
    .span3 {
        width: 270px;
    }
    .span2 {
        width: 170px;
    }
    .span1 {
        height: 65px;
    }
}

/* Pour les titres et les textes */
p.role{
	margin: 0 0 10px;
	color:#000000;
	font-weight:bold;
}

h4.media-heading{
	color:#D4A940;
	font-weight: bold;